---
import { Image } from "@astrojs/image/components";

import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import DownloadCount from "../../../components/elements/DownloadCount.astro";
import PartialRestore from "../../../components/elements/PartialRestore.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";

import TINLCLogo from "../../../assets/images/thereisnolearningcurve/tinlclogo.png";
import TINLCHero from "../../../assets/images/thereisnolearningcurve/tinlchero.jpg";
import Hero from "../../../components/Hero.astro";
const HeroLogoImg = {
  img: TINLCLogo,
  alt: "There is no learning curve logo",
  maxWidthLogo: "max-w-xl",
};

import Comment1 from "../../../assets/images/testimonials/tinlc-juliand665.png";
import Comment3 from "../../../assets/images/testimonials/titakrueger.webp";
---

<Layout title="There is no learning curve">
  <Hero img={TINLCHero} logoImg={HeroLogoImg} />
  <section>
    <Container>
      <PartialRestore />
      <h1 class="text-4xl mb-8">There is no learning curve</h1>
      <p>
        This puzzle/adventure map is a three player cooperative experience like
        no other. Decipher your way through more than 10 unique and stimulating
        chambers with more than 4 hours of gameplay. Manipulate water, iron and
        even time in order to progress under the supervision of your friendly
        host, Harold.<strong
          >Now available in English, French, Dutch and Spanish!</strong
        >
      </p>
      <p>
        This puzzle is designed for three players – not one, not two, not four,
        but THREE players. You will need to rely on each other in order to
        progress through the puzzles. Some form of communication is highly
        recommended between the players, such as being in the same room or using
        Skype.
      </p>
      <div class="embed-container my-16">
        <iframe
          src="https://www.youtube.com/embed/r-V2ngEWMic"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
    </Container>
  </section>
  <section class="bg-neutral-800">
    <Container innerClass="pb-16">
      <h2 class="text-center text-neutral-200 mb-14">
        What players are saying
      </h2>
      <div class="flex gap-16">
        <div
          class="relative flex flex-col justify-between bg-white p-12 pt-20 rounded-sm shadow-xl rotate-1"
        >
          <Image
            src={Comment1}
            alt="juliand665"
            class="absolute top-0 left-1/2 -translate-y-1/2 -translate-x-1/2 rounded-full border-2 shadow-lg shadow-red-300"
          />
          <div>
            <h3 class="text-center text-2xl">"Amazing map"</h3>
            <p class="text-left">
              “Amazing map” Wow! An amazing map. Challenging, but not too much.
              Frustrating at times, but oh so worth it in the end. Thank you for
              this amazing experience. Sequel pls.
            </p>
          </div>
          <div>
            <p class="text-center text-3xl">11 / 10</p>
            <p class="mb-0 text-center text-xl">juliand665</p>
          </div>
        </div>
        <div
          class="relative flex flex-col justify-between bg-white p-12 pt-20 rounded-sm shadow-xl lg:translate-y-8"
        >
          <Image
            src={Comment1}
            alt="Loppan997"
            class="absolute top-0 left-1/2 -translate-y-1/2 -translate-x-1/2 rounded-full border-2 shadow-lg shadow-red-300"
          />

          <div>
            <h3 class="text-center text-2xl">“Masterpiece"</h3>
            <p class="text-left">
              “Masterpiece!” THIS WAS A MASTERPIECE! This was the most fun I’ve
              had in a adventure map in a long time! I sure hope there will be a
              part 2 or another one.
            </p>
          </div>
          <div>
            <p class="text-center text-3xl">10 / 10</p>
            <p class="mb-0 text-center text-xl">Loppan997</p>
          </div>
        </div>
        <div
          class="relative flex flex-col justify-between bg-white p-12 pt-20 rounded-sm shadow-xl -rotate-1"
        >
          <Image
            src={Comment3}
            alt="RitaKrueger"
            class="absolute top-0 left-1/2 -translate-y-1/2 -translate-x-1/2 rounded-full border-2 shadow-lg shadow-red-300"
          />
          <div>
            <h3 class="text-center text-2xl">"Wow"</h3>
            <p class="text-left">
              “Wow” Wow this was such an awesome map! I loved playing it with my
              friends! I absolutely LOVED the puzzles, every single one of them!
              Very good job, I’m going to check out your other stuff!
            </p>
          </div>
          <div>
            <p class="text-center text-3xl">Keep it up!</p>
            <p class="mb-0 text-center text-xl">RitaKrueger</p>
          </div>
        </div>
        <!-- Looking for a team? Want to play our maps but don't have a group of 3? Team -->
      </div>
      <!-- up on Parallel and start playing! Find Teammates  -->
    </Container>
  </section>
  <section>
    <Container>
      <h2>Download map</h2>
      <DownloadCount />
      <p>130463 downloads</p>
      <ButtonRed
        to="/maps/thereisnolearningcurve/download"
        bodyText="Download map"
      />
    </Container>
  </section>

  <style>
    h1,
    h2,
    h3,
    h4,
    p {
      @apply max-w-3xl mx-auto;
    }

    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</Layout>
