---
import { Image } from "@astrojs/image/components";

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Container from "../components/Container.astro";
import ButtonRed from "../components/elements/ButtonRed.astro";
import UnderRepair from "../components/elements/UnderRepair.astro";

import HomeHeroImage from "../assets/images/roguequest/portalgrab.png";

// Map splash
import Prismatic3Logo from "../assets/images/home/prismaticIIILogo.png";
import RogueQuest from "../assets/images/roguequest/splash.jpg";
import Prismatic from "../assets/images/prismatic/splash.png";
import TINLC2 from "../assets/images/thereisnolearningcurve2/splash.jpg";
import TINLC from "../assets/images/thereisnolearningcurve/splash.jpg";

import ExploreImage from "../assets/images/home/explore.jpg";
import RoguequestLogo from "../assets/images/roguequest/logo.svg";
import RoguequestBg from "../assets/images/roguequest/portal.png";
import RoguequestBgVideo from "../assets/images/roguequest/portalloop.mp4";

const bgImageExploreMaps = `background-image: url('${ExploreImage.src}');`;

import Oscilight from "../assets/images/oscilight/splash.jpg";
import PresentFactory from "../assets/images/presentfactory/splash.jpg";

import TINCL2BG from "../assets/images/thereisnolearningcurve2/index-bg.png";
import TINLC2Logo from "../assets/images/thereisnolearningcurve2/logo.png";
const bgImgTINLC2 = `background-image: url('${TINCL2BG.src}');`;

const allPosts = await Astro.glob("./blog/*/*md");
const latestPosts = allPosts.sort((a, b) => a.date - b.date);
latestPosts.length = 3;
---

<Layout title="Home">
  <main>
    <!-- <h1>Welcome to <span class="text-gradient">Astro</span></h1> -->
    <Hero
      title="Mental Block Gaming"
      subtitle="Top notch minecraft maps"
      img={HomeHeroImage}
    />
    <section>
      <Container>
        <h2 class="text-center">Minecraft Maps</h2>
        <article class="mb-16">
          <div class="prismatic-animated-bg mb-6 shadow-lg">
            <a href="/maps/prismatic3">
              <Image
                class="mx-auto"
                src={Prismatic3Logo}
                alt="Prismatic III logo"
              />
            </a>
          </div>
          <h3 class="text-center text-3xl font-light mt-8">
            <a href="/maps/prismatic3"> Prismatic III</a>
          </h3>
          <h3 class="text-center text-xl">COLOUR – SOLVE – COLLECT.</h3>
          <p class="max-w-3xl text-center m-auto mb-5">
            In this instalment of Prismatic, you must mix together the three
            primary colours to shade the complex in your favour; unlocking
            doors, opening up pathways and creating new unforeseen routes.
            Collect the nine beacons scattered around the chamber in order to
            escape.
          </p>
          <div class="text-center">
            <ButtonRed
              to="/maps/prismatic3"
              bodyText="Learn more"
              class="mx-auto"
            />
          </div>
        </article>

        <div class="grid md:grid-cols-2 gap-16">
          <article>
            <h3>
              <a href="/maps/roguequest">
                RogueQuest: Chronos & the Lantern of Souls</a
              >
            </h3>
            <div class="relative">
              <video
                class="absolute object-cover"
                autoplay
                loop
                muted
                playsinline
                poster={RoguequestBg.src}
              >
                <source src={RoguequestBgVideo} type="video/mp4" />
              </video>
              <a href="/maps/roguequest">
                <div
                  class="relative aspect-video z-10 flex flex-col justify-center items-center"
                >
                  <Image
                    class="w-3/5"
                    src={RoguequestLogo}
                    alt="RogueQuest logo"
                  />
                </div>
              </a>
            </div>
            <!-- <Image
              src={RogueQuest}
              alt="RogueQuest: Chronos & the Lantern of Souls Prismatic"
            /> -->
            <p class="mt-8">
              Chaos is spreading from realm to realm, can you save Yakra from
              this evil? RogueQuest features rogue-like style game play,
              randomly generated dungeons, 4 unique characters each with a
              unique playstyle and storyline and can be played alone or with
              friends..
            </p>
            <ButtonRed to="/maps/roguequest" bodyText="Learn more" />
          </article>
          <article>
            <h3><a href="/maps/prismatic"> Prismatic</a></h3>
            <a href="/maps/prismatic">
              <Image src={Prismatic} alt="Prismatic" />
            </a>
            <p class="mt-8">
              Prismatic, a colour based puzzle map. A short single player
              adventure that will have you seeing rooms through a different
              light as you colour your way through the complex. There is now a
              colourblind-friendly resource pack now available for Prismatic!
            </p>
            <ButtonRed to="/maps/prismatic" bodyText="Learn more" />
          </article>
          <article>
            <h3>
              <a href="/maps/thereisnolearningcurve2"
                >There is no Learning Curve 2</a
              >
            </h3>
            <a href="/maps/thereisnolearningcurve2">
              <Image src={TINLC2} alt="There is no Learning Curve 2" />
            </a>
            <p class="mt-8">
              Harold is back and better than ever with another 8 puzzles that
              are guaranteed to push you to your intellectual limits. Before
              your team can enter the chambers of the original There is no
              Learning Curve, you must first prove your worth in Harold’s
              Candidature Aptitude Tests.
            </p>
            <ButtonRed
              to="/maps/thereisnolearningcurve2"
              bodyText="Learn more"
            />
          </article>
          <article>
            <h3>
              <a href="/maps/thereisnolearningcurve">
                There is no learning curve
              </a>
            </h3>
            <a href="/maps/thereisnolearningcurve">
              <Image src={TINLC} alt="There is no learning curve" />
            </a>
            <p class="mt-8">
              This puzzle/adventure map is a three player cooperative experience
              like no other. Decipher your way through more than 10 unique and
              stimulating chambers with more than 4 hours of gameplay.
              Manipulate water, iron and even time in order to progress under
              the supervision of your friendly host, Harold.
            </p>
            <ButtonRed
              to="/maps/thereisnolearningcurve"
              bodyText="Learn more"
            />
          </article>
        </div>
        <div
          class="my-16 bg-center bg-neutral-200 bg-opacity-50"
          style={bgImageExploreMaps}
        >
          <div
            class="flex flex-col justify-center min-h-[360px] p-16 text-center bg-gray-800 bg-opacity-50 shadow-lg border-b-4k border-gray-400"
          >
            <h3 class="text-white font-base text-4xl">Looking for more?</h3>
            <p class="text-white">
              Explore all the maps from Mental Block Gaming
            </p>
            <div>
              <ButtonRed
                to="/maps"
                bodyText="Explore maps"
                fill={true}
                class="mb-0 inline-block"
              />
            </div>
          </div>
        </div>
      </Container>
    </section>
    <section class="relative bg-[#260a38]">
      <video
        class="absolute w-screen h-screen object-cover"
        autoplay
        loop
        muted
        playsinline
        poster={RoguequestBg.src}
      >
        <source src={RoguequestBgVideo} type="video/mp4" />
      </video>

      <div
        class="relative z-10 h-screen flex flex-col justify-center items-center p-10"
      >
        <a href="/maps/roguequest">
          <Image src={RoguequestLogo} alt="RogueQuest logo" />
          <p
            class="text-purple-600 chronos-shadow text-4xl sm:text-5xl md:text-6xl font-roguequest text-center"
          >
            Chronos and the lantern of souls
          </p>
        </a>
        <ButtonRed
          to="/maps/roguequest"
          bodyText="Adventure awaits..."
          color="purple"
        />
      </div>
    </section>
    <section class="featured">
      <Container>
        <h2 class="text-center">Featured Minecraft Maps</h2>
        <p class="mb-20 text-center">
          A showcase of some of the best Minecraft maps from the Minecraft
          community!
        </p>
        <div class="grid md:grid-cols-2 gap-16">
          <article>
            <h3><a href="/maps/oscilight">Oscilight: The Light Shadow</a></h3>
            <a href="/maps/oscilight">
              <Image src={Oscilight} alt="Oscilight: The light shadow" />
            </a>
            <p class="mt-8">
              Follow the philosophical narrative in this single-player puzzle
              map as you use a variety of lights, each with their own
              behaviours, to navigate each chamber and reach the end.
            </p>
            <p>By Dwittyy</p>
            <ButtonRed color="orange" bodyText="Learn more" to="/oscilight" />
          </article>
          <article>
            <h3><a href="/maps/presentfactory">The Present Factory</a></h3>
            <a href="/maps/presentfactory">
              <Image src={PresentFactory} alt="The Present Factory" />
            </a>
            <p class="mt-8">
              In The Present Factory, it’s your job to construct a production
              line to a set specification using a variety of blocks with their
              own set mechanics. Twist, turn, push, pull, stack and compare in
              this ingenious sandbox puzzle game!
            </p>
            <p>By QwertyuiopThePie</p>
            <ButtonRed
              color="orange"
              bodyText="Learn more"
              to="/presentfactory"
            />
          </article>
        </div>
      </Container>
    </section>
    <section
      class="relative bg-[#ba6a1f] bg-cover bg-center"
      style={bgImgTINLC2}
    >
      <div class="bg-red-400 bg-opacity-25">
        <div
          class="relative z-10 h-screen flex flex-col justify-center items-center p-10"
        >
          <a href="/maps/thereisnolearningcurve2">
            <Image class="max-w-md" src={TINLC2Logo} alt="RogueQuest logo" />
          </a>
          <ButtonRed
            to="/maps/thereisnolearningcurve2"
            bodyText="Subject testing"
            color="amber"
          />
        </div>
      </div>
    </section>

    <section>
      <Container>
        <h2 class="text-center">Blog</h2>
        <div class="grid lg:grid-cols-3 gap-12 mb-12">
          {
            latestPosts.map((post) => (
              <article class="hover:scale-105 duration-200 ease-in-out">
                <a class="block" href={post.url}>
                  <h3 class="mb-0 text-xl border-2 border-neutral-200 bg-neutral-100 text-red-600 p-8 font-base">
                    {post.frontmatter.title}
                  </h3>
                  <div class="border-2 border-t-0 border-neutral-200 p-8">
                    <p class="mb-3 leading-7">{post.frontmatter.exerpt}</p>
                    <p class="m-0 text-red-500 text-sm">Read article</p>
                  </div>
                </a>
              </article>
            ))
          }
        </div>
        <div class="flex justify-center">
          <ButtonRed bodyText="Browse all articles" to="/blog" />
        </div>
      </Container>
    </section>
    <!-- <section>
      chemistry
    </section> -->
    <!-- <section>
      roguequest story
    </section> -->
  </main>

  <style></style>

  <style is:global>
    .featured a {
      @apply text-orange-600;
    }
    .prismatic-animated-bg {
      background: linear-gradient(
        269deg,
        #e10f0f,
        #e46611,
        #d0cc11,
        #4ab717,
        #14c194,
        #157add,
        #b815dd,
        #e010b0
      );
      background-size: 1600% 1600%;
      animation: prismaticBG 45s ease infinite;
    }

    @keyframes prismaticBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 51%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .chronos-shadow {
      text-shadow: #4221ff 0 1px 0, #3a0675 0 3px 0;
    }

    /* // original styles */
    /* h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	} */
  </style>
</Layout>
