---
import { Image } from "astro:assets";

export interface Props {
  img: ImageMetadata;
  downloadCount: number;
  title: string;
  bodyText: string;
  to: string;
}

const { img, downloadCount, title, bodyText, to } = Astro.props as Props;
---

<div class="lg:flex items-start gap-16">
  <div
    class="relative lg:w-1/2 flex flex-col items-center prismatic-animated-bg"
  >
    <Image src={img} alt={title} class="w-full shadow-lg" />
    <div
      class="absolute bottom-0 right-0 bg-red-500 p-2 px-4 md:p-1.5 md:px-4 lg:p-3 lg:px-6 -translate-y-[15%] translate-x-[15%] md:translate-x-[12%] shadow-md border-b-4 border-red-800"
    >
      <p
        class="mb-1 text-center text-white font-semibold text-2xl md:text-xl lg:text-4xl"
      >
        {downloadCount}
      </p>
      <p
        class="p-0 mb-0 text-xs md:text-xs font-medium text-center text-white uppercase"
      >
        downloads
      </p>
    </div>
  </div>
  <div class="lg:w-1/2 pt-8">
    <h3>{title}</h3>
    <p>
      {bodyText}
    </p>
    <!-- <div>
      <p
        class="inline-block bg-red-500 p-4 mb-0 text-center text-white text-xl leading-6"
      >
        130,000 downloads
      </p>
    </div> -->
  </div>
</div>

<style>
  h3 {
    @apply text-2xl;
  }
  .prismatic-animated-bg {
    background: linear-gradient(
      269deg,
      #e10f0f,
      #e46611,
      #d0cc11,
      #4ab717,
      #14c194,
      #157add,
      #b815dd,
      #e010b0
    );
    background-size: 1600% 1600%;
    animation: prismaticBG 45s ease infinite;
  }

  @keyframes prismaticBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 51%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
